parameters:
    level: 6
    paths:
        - src
        - migrations
        - resources/functions.php
        - rector.php
        - tests
        - ../judge/judgedaemon.main.php
    bootstrapFiles:
        - ../judge/phpstan-bootstrap.php
    scanFiles:
        - vendor/vrana/adminer/adminer/include/functions.inc.php
    scanDirectories:
        - vendor/vrana/adminer/adminer/include
    ignoreErrors:
        -
            message: '#Method .* return type has no value type specified in iterable type array#'
            path: tests
        -
            message: '#Method .* has parameter .* with no value type specified in iterable type array#'
            path: tests
        -
            message: '#Property .* type has no value type specified in iterable type array#'
            path: tests
        -
            message: '#PHPDoc tag @var for variable .* has no value type specified in iterable type array#'
            path: tests
        -
            message: "#Method .* return type has no value type specified in iterable type array#"
            path: src/DataFixtures/Test
        # Judge daemon: defensive check for getopt() return value
        -
            message: '#Strict comparison using === between array.* and false will always evaluate to false#'
            path: ../judge/judgedaemon.main.php
        # Judge daemon: SYSLOG constant check - depends on runtime configuration
        -
            message: '#Right side of && is always true#'
            path: ../judge/judgedaemon.main.php
        # Judge daemon: redundant is_int() after type narrowing
        -
            message: '#Call to function is_int\(\) with .* will always evaluate to true#'
            path: ../judge/judgedaemon.main.php
        # Judge daemon: is_file/is_executable check after chmod
        -
            message: '#Negated boolean expression is always false#'
            path: ../judge/judgedaemon.main.php
        # Judge daemon: CREATE_WRITABLE_TEMP_DIR is a runtime configuration constant
        -
            message: '#(Ternary operator condition|If condition) is always false#'
            path: ../judge/judgedaemon.main.php
        # Judge daemon: strlen > 0 comparison on string PHPDoc type
        -
            message: '#Comparison operation ">" between int<1, max> and 0 is always true#'
            path: ../judge/judgedaemon.main.php
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
